version: '2'
services:
    db:
        image: postgres
        environment:
            - POSTGRES_PASSWORD=pgpass
        volumes:
            - ./init-clicks-db.sh:/docker-entrypoint-initdb.d/init-clicks-db.sh
            - ./container_data/postgres_data:/var/lib/postgresql/data

    web:
        image: click_counter
        depends_on:
            - db
        ports:
            - "80:5000"
        restart: unless-stopped
