<html>
    <head>
        <title>hits</title>
    </head>

    <body>
        <h3>Num hits</h3>
        {{ count }}

        <h3>Hits</h3>
        <table border="1">
            <tr>
                <th>ip</th>
                <th>time</th>
            </tr>
            {% for id, ip, time in hits|reverse %}
                <tr>
                    <td>{{ ip }}</td>
                    <td>{{ time.strftime('%H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
